################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlockLimiter/copilot-chat/ffbd1f35/sessions/2f17560d-4e1b-41be-a80a-33fdc8090c6c
